node_modules/
wedding-quiz/scripts/app-bundle.js
wedding-quiz/scripts/app-bundle.js.map
wedding-quiz/scripts/vendor-bundle.js
frontend/scripts/app-bundle.js
frontend/scripts/app-bundle.js.map
frontend/scripts/vendor-bundle.js
*.suo
obj/
bin/
backend/WeddingQuiz/wwwroot/scripts/app-bundle.js
backend/WeddingQuiz/wwwroot/scripts/app-bundle.js.map
backend/WeddingQuiz/wwwroot/scripts/vendor-bundle.js
backend/.vs/
project.lock.json
backend/packages/
backend/WeddingQuiz.sln.DotSettings.user
backend/WeddingQuiz/project.fragment.lock.json
backend/WeddingQuizConsole/wwwroot/scripts/app-bundle.js
backend/WeddingQuizConsole/wwwroot/scripts/app-bundle.js.map
backend/WeddingQuizConsole/wwwroot/scripts/vendor-bundle.js
app-bundle.js,app-bundle.js.map,vendor-bundle.js
app-bundle.js
vendor-bundle.js