node_modules/
wedding-quiz/scripts/app-bundle.js
wedding-quiz/scripts/app-bundle.js.map
wedding-quiz/scripts/vendor-bundle.js
frontend/scripts/app-bundle.js
frontend/scripts/app-bundle.js.map
frontend/scripts/vendor-bundle.js
*.suo
obj/
bin/
